* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header header' 'uppersec uppersec egg egg ' 'redcup redcup  uppersec2 uppersec2' 'cherry  cherry oranges oranges' 'midsec midsec midsec midsec' 'firstimg secondimg thirdimg fourimg' 'footer footer footer footer';
}

.main-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #38bdff;
  background-image: url(../../images/desktop/image-header.jpg);
  background-size: 900px 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.main-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .main-nav-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  width: 100%;
  margin-top: 1em;
}

.main-header .first-h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-family: 'Barlow', Serif;
  width: 100%;
  color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1em;
}

.main-header .main-nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Barlow', serif;
  list-style: none;
  font-size: 1rem;
  margin-right: 1em;
}

.main-header .main-nav-li li a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 89px;
  text-align: center;
  color: white;
  margin-left: 1em;
  padding: 11px;
  text-decoration: none;
}

.main-header .active {
  display: block;
  background-color: skyblue;
  text-align: center;
  width: 80%;
  padding: 11px;
  border-radius: 30px;
  font-family: 'Fraunces', sans-serif;
}

.main-header .main-nav-li li a:hover {
  display: block;
  background-color: white;
  color: #23303e;
  font-family: 'Fraunces', sans-serif;
  width: 89px;
  text-align: center;
  padding: 11px;
  border-radius: 30px;
  cursor: pointer;
}

.main-header .top-h1-pos {
  margin: 0 auto;
  margin-top: 3em;
}

.main-header .top-h1 {
  color: white;
  letter-spacing: 5px;
  font-size: 2.25rem;
}

.main-header .arrow-down {
  width: 24px;
  position: relative;
  top: 3em;
  left: 12.5em;
}

.main-header .menu-btn {
  display: none;
}

.area-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: uppersec;
  background-color: white;
  margin: 15.5%;
}

.area-1-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1em;
}

.area-1-para {
  font-family: "Barlow",'seriff';
  font-size: 0.8rem;
  line-height: 1.5em;
  color: #a7abae;
  margin-top: 1.5em;
}

.area-1-a {
  display: block;
  font-size: 0.8rem;
  margin-top: 2em;
  text-decoration: none;
  color: #23303e;
  font-weight: bold;
  height: 10px;
  width: 100px;
}

.area-1-a:hover {
  border-radius: 10px;
  height: 10px;
  width: 100px;
  -webkit-box-shadow: -5px 9px 2px 0px #fad400;
          box-shadow: -5px 9px 2px 0px #fad400;
}

.area-1-a1:hover {
  border-radius: 10px;
  height: 10px;
  width: 100px;
  -webkit-box-shadow: -5px 9px 2px 0px #fe7867;
          box-shadow: -5px 9px 2px 0px #fe7867;
}

.area-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: egg;
}

.area-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: redcup;
}

.area-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: uppersec2;
  background-color: white;
  margin: 15.5%;
}

.area-5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cherry;
  background-color: green;
}

.area-5-h {
  text-align: center;
  color: #25564b;
  margin-top: 12em;
}

.area-5-h-2 {
  color: #23303e;
}

.area-5-p {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  width: 60%;
  margin-bottom: 2.5em;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5em;
  font-family: "Barlow",'seriff';
  color: #458c7e;
}

.area-5-p2 {
  width: 60%;
  color: #5a636c;
}

.text-w-img {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-top: -22em;
}

.area-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: oranges;
  width: 100%;
}

.client-testimonials {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: midsec;
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.client-testimonials .client-h {
  font-size: 1rem;
  letter-spacing: 0.2em;
  margin-top: 6em;
  margin-bottom: 3em;
  color: #a7abae;
}

.client-testimonials .img-people {
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2em;
}

.client-testimonials .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-testimonials .people .para {
  color: #818498;
  font-family: "Barlow", "Seriff";
  margin: 1em;
  margin-bottom: 4em;
  line-height: 1.6em;
  font-size: 0.85rem;
}

.client-testimonials .user {
  margin-bottom: 0.5em;
}

.client-testimonials .position {
  color: #a7abae;
  margin-bottom: 8em;
  font-family: "Barlow", "Seriff";
  font-size: 0.9rem;
}

.lower-img-1 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: firstimg;
}

.lower-img-2 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: secondimg;
}

.lower-img-3 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: thirdimg;
}

.lower-img-4 {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: fourimg;
}

.img-2 {
  height: 100%;
  width: 100%;
}

.main-footer {
  background-color: #458c7e;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.main-footer .footer-h3 {
  font-family: "Barlow", "Seriff";
  color: #25564b;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.main-footer .footer-list {
  word-spacing: 1em;
  margin-bottom: 3em;
  font-family: "Barlow", "Seriff";
  color: #25564b;
  text-align: center;
}

.main-footer .footer-list li {
  display: inline;
}

.main-footer .footer-list li:hover {
  color: white;
  cursor: pointer;
}

.main-footer .footer-icons {
  text-align: center;
  word-spacing: 1em;
  margin-bottom: 2em;
}

.main-footer .footer-icons li {
  display: inline;
}

.main-footer .footer-icons li:hover {
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
        grid-template-areas: 'header header' 'egg  egg' 'uppersec uppersec' 'redcup redcup' 'uppersec2 uppersec2' 'cherry cherry' 'oranges oranges' 'midsec midsec' 'firstimg secondimg' 'thirdimg fourimg' 'footer footer';
  }
  .main-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    background-image: url(../../images/mobile/image-header.jpg);
    background-size: 100%;
  }
  .main-header .first-h3 {
    width: 100px;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .main-header .menu-pos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-header .menu-btn {
    width: 25px;
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 0.9em;
    margin-right: 1em;
    font-size: 3rem;
    cursor: pointer;
  }
  .main-header .triangle-base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 87%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 1em;
  }
  .main-header .triangle {
    width: 0;
    height: 0;
    border-bottom: 47px solid white;
    border-left: 47px solid transparent;
    margin-top: 0.6em;
    visibility: hidden;
  }
  .main-header .main-nav-pos {
    background-color: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: -3.7em;
  }
  .main-header .main-nav-li {
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    margin-top: 3em;
    margin-right: 10em;
    background-color: white;
    width: 91%;
    height: 250px;
    position: relative;
    z-index: 1;
  }
  .main-header .main-nav-li li a {
    width: 100%;
    color: #a7abae;
    margin: 0 auto;
    padding: 11px;
  }
  .main-header .main-nav-li li a:hover {
    background-color: #fad400;
    font-family: 'Fraunces', sans-serif;
    color: black;
    width: 100%;
    border-radius: 35px;
    text-align: center;
  }
  .main-header .active {
    font-family: 'Barlow', sans-serif;
    background-color: transparent;
  }
  .main-header .top-h1-pos {
    margin: 0 auto;
    margin-top: -13.5em;
    width: 90%;
  }
  .main-header .top-h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .main-header .arrow-down {
    display: block;
    width: 34px;
    margin: 0 auto;
    left: -0.1em;
  }
  .main-header .show {
    visibility: visible;
  }
  .area-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: uppersec;
    margin: 0 auto;
    margin: 0%;
    margin-left: 0em;
  }
  .area-1-header {
    width: 80%;
    text-align: center;
    font-size: 2.1rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1.5em;
  }
  .area-1-para {
    font-family: "Barlow",'seriff';
    font-size: 1.15rem;
    margin: 1em;
    line-height: 1.5em;
    color: #a7abae;
    margin-top: 1.5em;
    text-align: center;
  }
  .area-1-a {
    display: block;
    text-align: center;
    color: #5a636c;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 10px;
    -webkit-box-shadow: -5px 9px 2px 0px #fad400;
            box-shadow: -5px 9px 2px 0px #fad400;
  }
  .area-1-a1 {
    display: block;
    text-align: center;
    color: #5a636c;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 10px;
    -webkit-box-shadow: -5px 9px 2px 0px #fe7867;
            box-shadow: -5px 9px 2px 0px #fe7867;
  }
  .area-1-a1:hover {
    display: none;
  }
  .area-1-1 {
    display: none;
  }
  .area-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: egg;
  }
  .area-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: redcup;
  }
  .area-4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: uppersec2;
    margin: 0 auto;
    margin: 0%;
  }
  .area-5-h {
    font-size: 2rem;
    text-align: center;
    margin-top: 15em;
  }
  .area-5-p {
    width: 80%;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text-w-img {
    position: relative;
    z-index: 3;
    width: 100%;
    margin-top: 29em;
  }
  .graphic-d {
    background-image: url(../../images/mobile/image-graphic-design.jpg);
    background-size: 100% 100%;
  }
  .area-5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: cherry;
    height: 700px;
  }
  .photography {
    background-image: url(../../images/mobile/image-photography.jpg);
    background-size: 100% 100%;
  }
  .img-hidden {
    display: none;
  }
  .area-6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: oranges;
    height: 700px;
  }
  .client-testimonials {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: midsec;
    text-align: center;
  }
  .client-testimonials .client-h {
    font-size: 1rem;
    word-spacing: 0.9em;
    letter-spacing: 0.4em;
  }
  .client-testimonials .img-people {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 2em;
  }
  .client-testimonials .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .client-testimonials .people .para {
    margin: 0 auto;
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 2em;
    line-height: 1.5em;
  }
  .client-testimonials .user {
    font-size: 1.5rem;
  }
  .client-testimonials .position {
    margin-bottom: 3em;
    font-size: 1rem;
  }
  .lower-img-1 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: firstimg;
  }
  .lower-img-2 {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    grid-area: secondimg;
  }
  .lower-img-3 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: thirdimg;
  }
  .lower-img-4 {
    -ms-grid-row: 10;
    -ms-grid-column: 2;
    grid-area: fourimg;
  }
  .main-footer {
    background-color: #458c7e;
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .main-footer .footer-list {
    word-spacing: 3em;
  }
  .main-footer .footer-icons {
    margin-bottom: 4em;
  }
}
/*# sourceMappingURL=styles.css.map */