//max res 768px
//colors variables
$Soft-red: hsl(7, 99%, 70%);
$Yellow:hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate-cyan: hsl(168, 34%, 41%);

$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

*{
     margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    //height: 100vh;
    //width: 100%;
    font-size:18px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
 
}
.container{
  margin:0 auto;
   
    background-color:none;
    display:grid;
    
    grid-template-areas:
    'header header header header'
    'uppersec uppersec egg egg '
    'redcup redcup  uppersec2 uppersec2'
    'cherry  cherry oranges oranges'
    'midsec midsec midsec midsec'
    'firstimg secondimg thirdimg fourimg'
    'footer footer footer footer'
    ;

}


.main-header{
    grid-area:header;
    width: 100%;
    display:flex;
    background-image: url(../../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: -40px 0px;

    .first-h3{
       font-family: 'Barlow', Serif;
        height: 50px;
        color:$White;
        margin-left:1em;
        margin-top:1em;
    }
    
    .main-nav{
      display: flex;
      width:100%;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: -80px 0px;
    }

    .main-nav-li{
        display: flex;
        font-family: 'Barlow', serif;
        list-style: none;
        margin-bottom: 2em;
        justify-content: flex-end;
        margin-right: 1em;
        margin-top: 1em;
        font-size: 1rem;      
    }

    .main-nav-li li{
        color:$White;
        margin-left: 3em;
    }

    .main-nav-li li:hover{
        background-color:skyblue;
        font-family:'Fraunces', sans-serif; 
        width:85px;
        padding: 10px;
        border-radius: 30px;
        text-align: center; 
        cursor: pointer;
    }

    .top-h1{
        margin-left: 5em;
        margin-top: 1em;
        margin-bottom: 10em;
        color:$White;
        letter-spacing: 3px;
        font-size: 2.25rem;  
    }
   
    .arrow-down{
        width:30px;
        position: relative;
        top:-14em;
        right:-21em;   
    }
    
    .menu-btn{
        display:none;
     }
}

    .area-1{
        grid-area:uppersec;
        background-color:$White;
        
  
    }
    .area-1-header{      
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 2em; 
        margin-left: 1em;
    }
    .area-1-para{
        font-family: "Barlow",'seriff';
        font-size: 1rem;
        line-height: 2em;
        color: $Grayish-blue;
        margin-top: 3em;
        margin-left: 3em;
    }
    .area-1-a{
     display: block;
     margin-top: 3em;
     text-decoration: none;
     color: $Very-dark-grayish-blue;
     font-weight:bold;
     margin-left: 3em;

    
    }
    .area-1-a:hover{
        border-radius: 10px;
        height: 7px;
        width: 128px;
        box-shadow: 0 13px 0 0 $Yellow;
    }
    .area-1-a1:hover{
        border-radius: 10px;
        height: 7px;
        width: 128px;
        box-shadow: 0 13px 0 0 $Soft-red;
    }

    .area-2{
        grid-area:egg;
        background-color: blue;
        background-image: url(../../images/desktop/image-transform.jpg);
        background-position: -50px 0px;
        background-size: cover;
        height: 500px;   
    }

    .area-3{
        grid-area:redcup;
        background-image: url(../../images/desktop/image-stand-out.jpg);
        background-size: cover;
        background-position: -50px 0px;
        height: 500px;
    }

    .area-4{
   grid-area:uppersec2;
   background-color:$White;
 
    }

    .area-5{
        grid-area:cherry; 
    }
    .graphic-d{
        height: 400px;
        background-image: url(../../images/desktop/image-graphic-design.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position: 0px 0px;
      }

      .area-5-h{
          text-align: center;
          margin-top: 12em;
      }
      .area-5-p{
          display: block;
          margin:0 auto;
          width: 300px;
          margin-top:1em;
          text-align: center;
          font-size: 1rem;
          font-family: "Barlow",'seriff';
          color:$Very-dark-grayish-blue
      }

    .area-6{
        grid-area: oranges;
    }
    .photography{ 
        height: 400px;
          background-image: url(../../images/desktop/image-photography.jpg);
          background-repeat:no-repeat;
          background-size:cover;
          background-position: 0px 0px; 
      }
    
    .client-testimonials{
    grid-area:midsec;
    background-color:$White;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0 auto;

    .client-h{
        margin-top: 6em;
        margin-bottom: 3em;
        color: $Very-dark-grayish-blue;
    }
    .img-people{
        width:60px;
        border-radius:50%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .people{
        display: flex;
    }

    .people .para {
        color:$Dark-grayish-blue;
        font-family: "Barlow", "Seriff";
        margin-bottom:4em ;
        line-height: 1.6em;
        font-size:0.85rem;
        width:280px;
    }

    .user{
        margin-bottom: 0.5em;
    }

    .position{
        color:$Dark-grayish-blue;
        margin-bottom: 8em;
        font-family: "Barlow", "Seriff";
        font-size: 0.9rem;
    }
}

//
    .lower-img-1{
      grid-area: firstimg;
      background-image: url(../../images/desktop/image-gallery-milkbottles.jpg);
      background-size: cover;
      height: 300px;
      width:300px;
    }

    .lower-img-2{
        grid-area: secondimg;
    }

    .lower-img-3{
        grid-area: thirdimg;
    }

    .lower-img-4{
        grid-area: fourimg;
    }

    .img-2{
       height:auto;
        width:100%;
    }
//

.main-footer{
    background-color:$Dark-moderate-cyan;
    grid-area:footer;

    .footer-h3{
        font-family:"Barlow", "Seriff";
        font-size: 1.8rem;
        font-weight: 900;
        margin-top:1.6em;
        text-align: center;
        margin-bottom:1em;
        color:$Dark-desaturated-cyan;
    }

    .footer-list{ 
        text-align: center;
        word-spacing: 1em;
        margin-bottom:3em;
        font-family:"Barlow", "Seriff";
        color:$Dark-desaturated-cyan;
    }

    .footer-list li{
        display: inline;  
    }
    .footer-list li:hover{
        color:$White;
        cursor: pointer;
    }

    .footer-icons{
        text-align: center;
        word-spacing: 1em;
        margin-bottom:2em;
    }

    .footer-icons li{
        display: inline;
    }
    .footer-icons li:hover{
       color:$White;
       cursor: pointer;
    }
}

@media screen and (max-width:420px) {
    //new grid template and resized elements 

    body{
        margin:0;
        background-color:none;
        width: 100%;
       
    }
    .container{
        
        grid-template-areas:
        'header header'
        'egg  egg'
        'uppersec uppersec'
        'redcup redcup'
        'uppersec2 uppersec2'
        'cherry cherry'
        'oranges oranges'
        'midsec midsec'
        'firstimg secondimg'
        'thirdimg fourimg'
        'footer footer'
    ;

    }

.main-header{
    grid-area:header;
    height: 670px;
    width: 108vw;
    background-size: 200% 100%;
    background-position: -200px 0px;
    background-repeat: no-repeat;

    .first-h3{
        font-size: 2rem;
        font-weight:800;
    }
    
    .main-nav{
      display: flex; 
      width:100%;
      flex-direction: column;
    }


    .main-nav-li{
        
       //display when clicked has to placed there
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        font-size: 1.3rem;   
        margin-top:1.8em;
        margin-left:-7em;
        background-color:$White;
        height: 300px; 
        width:140%;
        position: relative;// needs it for element not to crash with each other
        z-index: 1;
      
    }
    .triangle{
        width: 0;
        height: 0;
        border-bottom: 47px solid $White;
        border-left: 47px solid transparent;
         margin-top: 0.6em;
        //make it invisible
        visibility: hidden;
      
      }
      .triangle-base {
        margin-left:-3em;
          background-color:none;
          display: flex;
          height:20px;
          width: 140%;
          margin-left:-8.1em;
          justify-content: flex-end;
         margin-top:1em;
      }
   
    

    .main-nav-li li{
        color:$Grayish-blue;
        margin:0 auto;
        padding:0.2em;
        //background-color: hotpink;
        
    }
    
    .main-nav-li li:hover{
     
        background-color:$Yellow;
        font-family:'Fraunces', sans-serif; 
        color:black;
        width:180px;
        padding: 20px;
        border-radius: 35px;
        text-align: center;

 
    }


    .top-h1{
        
        margin:0 auto;
        margin-top: -11em;
        margin-left:-6em;
        font-size: 2rem;
        text-align: center;
        line-height:50px;
        letter-spacing: 10px;
        
    }
   
    .arrow-down{
        width:40px;
        margin: 0 auto;
        top:3em;
        right:5em;
        
    }
    //button menu for small devices
     .menu-pos{
         display:flex;
        justify-content: flex-end;

     }
    .menu-btn{
        width:35px;
        display:block;
        margin-top: 0.9em;
        margin-right:1em;
        font-size: 3rem;
    }
    

    
    .show{
        visibility: visible;
    }
    
} 
    //start of areas below header
    .area-1{
        grid-area:uppersec;
        margin: 0 auto;
        margin-left: 0em;
        width: 108vw;
    }

    .area-1-header{
        width:80%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin:0 auto;
        margin-top: 1.5em;
    }

    .area-1-para{
        font-family: "Barlow",'seriff';
        font-size: 1rem;
        margin:1em;
        line-height: 1.5em;
        color: $Grayish-blue;
        margin-top: 1.5em;
        text-align: center;
    }

    .area-1-a{
     display: block;
     text-align: center;
     margin-top: 2em;
     margin-bottom: 4em;
     color: $Very-dark-grayish-blue;
     font-weight:bold;
     margin-left: 0em;
     
    }

    .area-2{
        width: 108vw;
        grid-area:egg;
        background-color: blue;
        background-image: url(../../images/desktop/image-transform.jpg);
        background-position: -100px 0px;
        background-size: cover;
        height: 500px; 
    }
    .area-3{
        width: 108vw;
        grid-area:redcup;
        background-image: url(../../images/desktop/image-stand-out.jpg);
        background-size: cover;
        background-position: -100px 0px;
        height: 500px;
    }

    .area-4{
        width: 108vw;
      grid-area:uppersec2;
      margin: 0 auto;
      margin-left: 0em;
    }

    .area-5-h{
        font-size:2rem;
        text-align: center;
        margin-top: 15em;
    }

    .area-5-p{ 
        width: 400px;
        font-size: 1.1rem;  
        line-height: 1.5rem;
    }

    .graphic-d{
        height: 400px;
         background-size:cover;
         background-position: -200px 0px;
      }

    .area-5{
        width: 108vw;
        grid-area:cherry;
        height: 700px;  
    }

    .photography{ 
        height: 400px;
          background-image: url(../../images/desktop/image-photography.jpg);
          background-repeat:no-repeat;
          background-size:cover;
          background-position: -220px 0px; 
      }

    .area-6{
        width: 108vw;
        grid-area: oranges;
        height: 700px;
    }

    .client-testimonials{
        width: 108vw;
        grid-area:midsec;
        text-align: center;

        .client-h{
            font-size: 1rem;
            word-spacing: 0.9em;
            letter-spacing: 0.4em;
         
        }

        .img-people{
            width:60px;
            border-radius:50%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-bottom: 2em;
        }

        .people{
            flex-direction: column;
        }

        .people .para {
            margin: 0 auto;
            width:80%;
             font-size:1.2rem;
             margin-bottom:2em ;
             line-height: 1.5em;    
        }

        .user{
            font-size: 1.5rem;
        }

        .position{
            margin-bottom: 3em;  
            font-size: 1rem;
        }

    }
    

    .lower-img-1{
        width: 23vw;
        grid-area: firstimg;
        
      }
      .lower-img-2{
        width: 23vw;
          grid-area: secondimg;
      }
      .lower-img-3{
        width: 23vw;
          grid-area: thirdimg;
      }
      .lower-img-4{
        width: 2vw;
          grid-area: fourimg;
      }
      
      .img-2{
        height:auto;
        width: 100%;
    }

    .main-footer{
        width: 108vw;
        background-color:$Dark-moderate-cyan;
        grid-area:footer;
    
        .footer-h3{
            font-family:"Barlow", "Seriff";
            font-size: 1.8rem;
            font-weight: 900;
            margin-top:1.6em;
            text-align: center;
            margin-bottom:1em;
            color:$Dark-desaturated-cyan;
        }

        .footer-list{ 
            text-align: center;
            word-spacing: 4em;
            margin-bottom:4em;
            font-family:"Barlow", "Seriff";
            color:$Dark-desaturated-cyan;
        }

        .footer-list li{
            display: inline;   
        }

        .footer-icons{
            text-align: center;
            margin-bottom: 4em;
        }

        .footer-icons li{
            display: inline;
            color: $Dark-desaturated-cyan;
        }
    }
}