@import "variables";
@import "mixins";

*{
  @include reset-list;
}
body{
   // max-width:900px;
   // margin: 0 auto;
    font-size:18px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}
.container{
    display:grid;
    grid-template-areas:
    'header header header header'
    'uppersec uppersec egg egg '
    'redcup redcup  uppersec2 uppersec2'
    'cherry  cherry oranges oranges'
    'midsec midsec midsec midsec'
    'firstimg secondimg thirdimg fourimg'
    'footer footer footer footer'
    ;
}


.main-header{
     grid-area:header;
     height: 500px;
     width: 100%;
     display:flex;
     background-color:$imageheadercolor;
     background-image: url(../../images/desktop/image-header.jpg);
     background-size:900px 100%;  
     background-position: 50%;
     background-repeat: no-repeat;



    .main-nav{
        display: flex;
        width:100%;
        flex-direction: column;
      }
    .main-nav-pos{
         display: flex;
         justify-content: flex-end;
         height: 50px;
         width: 100%;
         margin-top: 1em;  
     }
     .first-h3{
         display: flex;
         align-items: center;
         font-weight: 800;
         font-family: 'Barlow', Serif;
         width: 100%;
         color:$White; 
         justify-content: flex-start;
         margin-left: 1em;
     }

    .main-nav-li{
        @include flexflexendcenter;
        font-family: 'Barlow', serif;
        list-style: none;
        font-size: 1rem;
        margin-right:1em
    }

    .main-nav-li li a{
        display: block;
        @include flexflexendcenter;
        width:89px;
        text-align: center;
        color:$White;
        margin-left: 1em;
        padding: 11px;
        text-decoration: none;  
    }
    .active{
        display: block;
        background-color:skyblue;
        text-align: center;
        width: 80%;
        padding: 11px;
        border-radius: 30px;
        font-family:'Fraunces', sans-serif;
    }
    .main-nav-li li a:hover{
        display: block;
        background-color:$White;
        color:$Very-dark-desaturated-blue;
        font-family:'Fraunces', sans-serif; 
        width: 89px;
        text-align: center;
        padding: 11px;
        border-radius: 30px;
        cursor: pointer;
    }
    .top-h1-pos{
        margin: 0 auto;
        margin-top: 3em;
    }
    .top-h1{
        color:$White;
        letter-spacing: 5px;
        font-size: 2.25rem;  
    }
    .arrow-down{
        width:24px;
        position: relative;
        top:3em;
        left:12.5em;   
    }
    .menu-btn{
        display:none;
     }
}
    .area-1{
        grid-area:uppersec;
        @include areastextmargin;
    }
    .area-1-header{   
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1em; 
    }
    .area-1-para{
        font-family: "Barlow",'seriff';
        font-size: 0.8rem;
        line-height: 1.5em;
        color: $Grayish-blue;
        margin-top: 1.5em; 
    }
    .area-1-a{
     display: block;
     font-size: 0.8rem;
     margin-top: 2em;
     text-decoration: none;
     color: $Very-dark-desaturated-blue;
     font-weight:bold;
     height:10px;
     width: 100px;
    }

    .area-1-a:hover{
        @include links;
        box-shadow: -5px 9px 2px 0px $Yellow;
    }
    .area-1-a1:hover{
        @include links;
        box-shadow: -5px 9px 2px 0px $Soft-red;
    }

    .area-2{
        grid-area:egg;   
    }

    .area-3{
        grid-area:redcup;
    }

    .area-4{
         grid-area:uppersec2;
        @include areastextmargin;
    }

    .area-5{
        grid-area:cherry; 
    }
    .graphic-d{  
        background-image: url(../../images/desktop/image-graphic-design.jpg);
        background-size:cover;
        
      }
      
      .area-5-h{
          text-align: center;
          color:$Dark-desaturated-cyan;
          margin-top: 12em;
      }
      .area-5-h-2{
          color:$Very-dark-desaturated-blue;
      }
      .area-5-p{
          display: block;
          margin:0 auto;
          margin-top:1em;
          width: 60%;
          margin-bottom: 2.5em;
          text-align: center;
          font-size: 0.8rem;
          line-height: 1.5em;
          font-family: "Barlow",'seriff';
          color:$Dark-moderate-cyan;
      }
      .area-5-p2{
          width:60%;
          color:$Very-dark-grayish-blue;
      }

    .area-6{
        grid-area: oranges;
    }
    .photography{ 
          background-image: url(../../images/desktop/image-photography.jpg);
          background-size:cover;
      }
    
    .client-testimonials{
    grid-area:midsec;
    background-color:$White;
    text-align: center;
    @include flexcolumncenter;

    .client-h{
        font-size: 1rem;
        letter-spacing: 0.2em;
        margin-top: 6em;
        margin-bottom: 3em;
        color: $Grayish-blue;
    }
    .img-people{
        width:60px;
        border-radius:50%;
        @include flexcolumncenter;
        margin-bottom: 2em;
    }
    .people{
        display: flex;
    }
    .people .para {
        color:$Dark-grayish-blue;
        font-family: "Barlow", "Seriff";
        margin:1em;
        margin-bottom:4em ;
        line-height: 1.6em;
        font-size:0.85rem; 
    }
    .user{
        margin-bottom: 0.5em;
    }
    .position{
        color:$Grayish-blue;
        margin-bottom: 8em;
        font-family: "Barlow", "Seriff";
        font-size: 0.9rem;
    }
}
//
    .lower-img-1{
      grid-area: firstimg;
    }

    .lower-img-2{
        grid-area: secondimg;
    }

    .lower-img-3{
        grid-area: thirdimg;
    }

    .lower-img-4{
        grid-area: fourimg;
    }

    .img-2{
       height:100%;
       width:100%;
    }
//
.main-footer{
    background-color:$Dark-moderate-cyan;
    grid-area:footer;

    .footer-h3{
        @include footerstyle;
        font-size: 1.8rem;
        font-weight: 900;
        margin-top:1.6em;
        margin-bottom:1em;
    }
    .footer-list{ 
        word-spacing: 1em;
        margin-bottom:3em;
        @include footerstyle;
    }

    .footer-list li{
        display: inline;  
    }
    .footer-list li:hover{
        color:$White;
        cursor: pointer;
    }

    .footer-icons{
        text-align: center;
        word-spacing: 1em;
        margin-bottom:2em;
    }

    .footer-icons li{
        display: inline;
    }
    .footer-icons li:hover{
       color:$White;
       cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    //new grid template and resized elements 
   
    .container{
        grid-template-areas:
        'header header'
        'egg  egg'
        'uppersec uppersec'
        'redcup redcup'
        'uppersec2 uppersec2'
        'cherry cherry'
        'oranges oranges'
        'midsec midsec'
        'firstimg secondimg'
        'thirdimg fourimg'
        'footer footer'
    ;
    }

.main-header{
    grid-area:header;
    background-image: url(../../images/mobile/image-header.jpg);
    
    .first-h3{
        width:100px;
        font-size: 1.5rem;
        font-weight:800;
    }
   //button menu for small devices
   .menu-pos{
    display:flex;
    justify-content: flex-end;
    }
    .menu-btn{
    width:25px;
    display:block;
    position: relative;
    z-index: 1;
    margin-top: 0.9em;
    margin-right:1em;
    font-size: 3rem;
    cursor: pointer;
    }

    .triangle-base {
        display: flex;
        height:20px;
        width: 87%;
        justify-content: flex-end;
         margin-top:1em;
      }
    .triangle{
        width: 0;
        height: 0;
        border-bottom: 47px solid $White;
        border-left: 47px solid transparent;
         margin-top: 0.6em;
        visibility: hidden;//make it invisible
      }

       
    .main-nav-pos{
        background-color:none;
        flex-direction: column;
        height: auto;
         width: 90%;
         margin:0 auto;
         margin-top:-3.7em; 
     }
    
    .main-nav-li{
       //display when clicked has to placed there
        visibility: hidden;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        font-size: 1.3rem; 
        margin-top: 3em;  
        margin-right:10em;
        background-color:$White;
        width:91%;
        height: 250px;
        position: relative;// needs it for element not to crash with each other
        z-index: 1;
    }

    
    .main-nav-li li a{
        width: 100%;
        color:$Grayish-blue;
        margin:0 auto;
        padding:11px;  
    }
    
    .main-nav-li li a:hover{
        background-color:$Yellow;
        font-family:'Fraunces', sans-serif; 
        color:black;
        width:100%;
        border-radius: 35px;
        text-align: center;
    }
    .active{
        font-family:'Barlow', sans-serif; 
        background-color:transparent;
    }
   .top-h1-pos{  
       margin:0 auto;
       margin-top: -13.5em;
       width: 90%;   
   }
    .top-h1{
        font-size: 2rem;
        text-align: center;
        line-height:40px;
        letter-spacing: 5px; 
    }
   
    .arrow-down{
        display: block;
        width:34px;
        margin: 0 auto;
        left:-0.1em;  
    }
    
    .show{
        visibility: visible;
    }
} 
    //start of areas below header
    .area-1{
        grid-area:uppersec;
        margin: 0 auto;
        margin:0%;
        margin-left: 0em;
    }

    .area-1-header{
        width:80%;
        text-align: center;
        font-size: 2.1rem;
        font-weight: bold;
        margin:0 auto;
        margin-top: 1.5em;
    }

    .area-1-para{
        font-family: "Barlow",'seriff';
        font-size: 1.15rem;
        margin:1em;
        line-height: 1.5em;
        color: $Grayish-blue;
        margin-top: 1.5em;
        text-align: center;
    }
  
    .area-1-a{     
     @include phonelinks;
     box-shadow: -5px 9px 2px 0px $Yellow;
     
    }
    .area-1-a1{
       @include phonelinks;
       box-shadow: -5px 9px 2px 0px $Soft-red;
    }
    .area-1-a1:hover{
     display:none;
    }
    .area-1-1{
        display: none;
    }
    .area-2{
        grid-area:egg;
    }
    .area-3{
        grid-area:redcup;  
    }

    .area-4{
      grid-area:uppersec2;
      margin: 0 auto;
      margin:0%;
    }

    .area-5-h{
        font-size:2rem;
        text-align: center;
        margin-top: 15em;
    }

    .area-5-p{ 
        width: 80%;
        font-size: 1rem;  
        line-height: 1.5rem;
    }

    .graphic-d{
       background-image:url(../../images/mobile/image-graphic-design.jpg);
       background-size: 100% 100%;
      }

    .area-5{
        grid-area:cherry;
        height: 700px;  
    }

    .photography{ 
          background-image: url(../../images/mobile/image-photography.jpg);
          background-size: 100% 100%;
      }

    .area-6{
        grid-area: oranges;
        height: 700px;
    }

    .client-testimonials{
        grid-area:midsec;
        text-align: center;

        .client-h{
            font-size: 1rem;
            word-spacing: 0.9em;
            letter-spacing: 0.4em;
        }

        .img-people{
            width:60px;
            border-radius:50%;
            margin-bottom: 2em;
        }

        .people{
            flex-direction: column;
        }

        .people .para {
            margin: 0 auto;
            width:80%;
             font-size:1.1rem;
             margin-bottom:2em ;
             line-height: 1.5em;    
        }

        .user{
            font-size: 1.5rem;
        }

        .position{
            margin-bottom: 3em;  
            font-size: 1rem;
        }

    }
    .lower-img-1{
        grid-area: firstimg;
      }
      .lower-img-2{
          grid-area: secondimg;
      }
      .lower-img-3{
          grid-area: thirdimg;
      }
      .lower-img-4{
          grid-area: fourimg;
      }
      
    .main-footer{
        background-color:$Dark-moderate-cyan;
        grid-area:footer;
    
        .footer-list{ 
            word-spacing: 3em;
        }

        .footer-icons{
            margin-bottom: 4em;
        }   
    }
}
